<li id="post-<%= post._id %>">
  <div class="post-content">
    <% if (locals.user && locals.user.id == post.user.id) { %>
    <small class="user-name"><%= post.user.name %> </small>
      <br>
    <div class="mainPostContent"> <%= post.content %>  </div> 
    <br>
    <small>
      <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"> <i class="fa-solid fa-trash-can fa-2x"></i> </a>
    </small>

    <% } %> 



    <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
    
    <!-- study about the data attribute -->
    <div>

      <% if (locals.user){ %>

      <a
        class="toggle-like-button"
        data-likes="<%= post.likes.length %>"
        href="/likes/toggle/?id=<%=post._id%>&type=Post"
      >
       <i class="fa-regular fa-heart fa-lg"> <%= post.likes.length %> </i>
      </a>

      <% }else{ %> 

      <%= post.likes.length %> &nbsp; &nbsp; <i class="fa-regular fa-heart fa-2x"></i> 
      
      <% } %>

    </div>

  </div>

  <div id="comment-list">
    <div class="comment-form">
      <% if (locals.user) { %>
      <form
        id="post-<%= post._id %>-comment-form"
        action="/comments/create"
        method="POST"
      >
        <input
          type="text"
          class="cmt"
          name="content"
          placeholder="Type here to add comment"
          required
        />
        <input type="hidden" name="post" value="<%= post._id%>" />
        <input class="submit" type="submit" value="Add Comment" />
      </form>
      <% } %>
    </div>
    <br>
    <div id="Comms"> Comments </div>
    <div class="post-comment-list">
      <ul id="post-comments-<%= post._id%>">
       <%- include('_comment') -%> 
      </ul>
    </div>
  </div>
</li>
