<% if(locals.user) { %> 
<div id="home-container">
  <section id="feed-posts">
    <h1 class="feed title">FEED</h1>

    <div class="post-form">
      <% if(locals.user) { %>
      <form action="/posts/create" id="new-post-form" method="POST">
        <textarea
          name="content"
          placeholder="Type here ...."
          cols="50"
          rows="3"
          required
        ></textarea>
        <br />
        <input type="submit" value="POST" />
      </form>
      <% } %>
    </div>

    <div id="post-list-container">
      <ul>
        <% for(post of posts) { %>
    
          <%- include('_post') -%>    
        
        <% } %>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4> Discover more people </h4>
    <% for (u of all_users) { %>
    <p>
      <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
    </p>
    <% } %>

    <%- include('_friend') -%>

  </section> 

  <%- include('_chat_box') -%>
</div>
<%} else { %>
  <div id="HomePage"> 
    <section class="homeDefault">
      <h1 class="introHead"> DISCOVER . </h1>
      <h1 class="introHead"> CONNECT . </h1>
      <h1 class="introHead"> LIKE . </h1>    
    </section>

    <section class="joinUs">
      <div class="inviteCard">
        Welcome to the Lambda Project!
        <div id="subMsg">
          Building Bridges with Every Like
        </div>
        <div id="getStarted">
             Join Now  
        </div>
      </div>
</section>
  </div>
    
  <% } %>

<script src="/javascript/home_post_comments.js"></script>
<script src="/javascript/home_posts.js"></script>

<script src="/javascript/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/javascript/chat_engine.js"> </script>

<% if(locals.user) { %>
<script>
      new chatEngine('user-chat-box' , '<%= locals.user.email %>');
</script>
<% } %>
